name: Native Release Required Check

on:
  pull_request:
    branches:
      - master
    paths:
      - 'app/ios/**'
      - 'app/android/**'

jobs:
  iOS-Build:
    name: Check for native changes
    runs-on: [self-hosted, linux]
    defaults:
      run:
        working-directory: .
    steps:
      - name: Check for native changes
        run: |
          echo 'Native changes present, please merge into a release branch'
          exit 1
